<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
  xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" xmlns:p="http://primefaces.org/ui"
  template="/admin.xhtml">
  
   
<h:head>

</h:head>

  <ui:define name="head">
    <h:outputStylesheet library="webjars" name="font-awesome/5.15.3/css/all-jsf.css" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.15.3/css/v4-shims-jsf.css" />
    <title>Marvin</title>
  </ui:define>

  <ui:define name="logo-lg">
    <h:panelGroup rendered="#{coreInfo.systemInstalled}">
      <span class="logo-lg"><b>Marvin</b> @ <h:outputText
          value="#{coreInfo.currentConfig.institutionAcronym}" /></span>
    </h:panelGroup>
    <h:panelGroup rendered="#{not coreInfo.systemInstalled}">
      <span class="logo-lg"><b>Marvin</b></span>
    </h:panelGroup>
  </ui:define>

  <ui:define name="logo-mini">
        [M]
    </ui:define>

  <ui:define name="menu">
    <ul class="sidebar-menu">

      <!-- System installation and log in. -->
      <li><p:link outcome="/index">
          <i class="fa fa-home"></i>
          <span><h:outputText value="#{msgs['menu.home']}" /></span>
        </p:link></li>
      <li><p:link outcome="/core/installSystem/index"
          rendered="#{not coreInfo.systemInstalled}">
          <i class="fa fa-cogs"></i>
          <span><h:outputText value="#{msgsCore['menu.installSystem']}" /></span>
        </p:link></li>

      <!-- Include menus from modules. -->
      <h:panelGroup rendered="#{coreInfo.systemInstalled}">
        <ui:include src="menus/admin.xhtml" /> 
        <ui:include src="menus/research.xhtml" />
      </h:panelGroup>
    </ul>
  </ui:define>

  <ui:define name="top-menu">
    <ul class="nav navbar-nav">
      <!-- User Account Menu -->
      <h:panelGroup rendered="#{coreInfo.systemInstalled and sessionController.loggedIn}">
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <h:graphicImage name="images/blankAvatar.png" styleClass="user-image"
              pt:alt="User Image" /> <h:outputText value="#{sessionController.currentUser.name}" /><span
            class="hidden-xs"></span>
        </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header"><h:graphicImage name="images/blankAvatar.png"
                styleClass="img-circle" pt:alt="User Image" />
              <p>
                <h:outputText value="#{sessionController.currentUser.name}" />
                <small><h:outputFormat value="#{msgs['text.memberSince']}">
                    <f:param value="#{sessionController.currentUser.creationDate}" />
                  </h:outputFormat></small>
              </p></li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <p:link outcome="/core/editProfile/index" styleClass="btn btn-default btn-flat">
                  <h:outputText value="#{msgs['menu.profile']}" />
                </p:link>
              </div>
              <div class="pull-right">
                <a href="#{facesContext.externalContext.requestContextPath}/logout"
                  class="btn btn-default btn-flat"><h:outputText value="#{msgs['menu.logout']}" /></a>
              </div>
            </li>
          </ul>
        </li>
      </h:panelGroup>
    </ul>
  </ui:define>

  <ui:define name="footer">
    <h:outputText value="#{msgs['text.developedBy']}" escape="false" />
    <div class="pull-right hidden-xs" style="color: gray">
      <i>1.0.0</i>
    </div>
  </ui:define>
</ui:composition>