<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsAdmin['managePPGs.title.create']}" rendered="#{(! managePPGsController.readOnly) and (managePPGsController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePPGs.title.update']}" rendered="#{(! managePPGsController.readOnly) and (managePPGsController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePPGs.title.retrieve']}" rendered="#{managePPGsController.readOnly}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsAdmin['managePPGs.title.create.description']}" rendered="#{(! managePPGsController.readOnly) and (managePPGsController.selectedEntity.id == null)}" />
		<h:outputText value="#{msgsAdmin['managePPGs.title.update.description']}" rendered="#{(! managePPGsController.readOnly) and (managePPGsController.selectedEntity.id != null)}" />
		<h:outputText value="#{msgsAdmin['managePPGs.title.retrieve.description']}" rendered="#{managePPGsController.readOnly}" />
	</ui:define>

	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['managePPGs.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the academic. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['managePPGs.form.title']}" />
			<p:focus />
			
			<!-- Field: name. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="name" />
				<ui:param name="label" value="#{msgsAdmin['managePPGs.field.name']}" />
				<p:inputText id="name" value="#{managePPGsController.selectedEntity.name}" required="true" ></p:inputText>
			</ui:decorate>
			
			<!-- Field: Nationality. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="acronym" />
				<ui:param name="label" value="#{msgsAdmin['managePPGs.field.acronym']}" />
				<p:inputText id="acronym" value="#{managePPGsController.selectedEntity.acronym}" required="true" disabled="#{managePPGsController.readOnly}"></p:inputText>
			</ui:decorate>

			<!-- Field: coordinators. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="coordinators" />
				<ui:param name="label" value="#{msgsAdmin['managePPGs.field.coordinators']}" />
				<p:autoComplete id="coordinators" required="true" multiple="true" value="#{managePPGsController.coordinators}" completeMethod="#{managePPGsController.completeCoordinators}" var="coordinators" itemLabel="#{coordinators.shortName}" itemValue="#{coordinators}" converter="#{managePPGsController.coordinatorConverter}" forceSelection="true" >
					<p:column>
						<h:outputText value="#{coordinators.shortName}" />
					</p:column>
					<p:column>
						<h:outputText value="#{coordinators.name}" />
					</p:column>
				</p:autoComplete>			
			</ui:decorate>

			<!-- Buttons shown below the form. -->
			<h:panelGroup rendered="#{! managePPGsController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{managePPGsController.list}" value="#{msgs['jbutler.crud.button.cancel']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton id="saveButton" action="#{managePPGsController.savePPG}" value="#{msgs['jbutler.crud.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
					<p:defaultCommand target="saveButton" />
				</ui:decorate>
			</h:panelGroup>
			<h:panelGroup rendered="#{managePPGsController.readOnly}">
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="backButton" action="#{managePPGsController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-arrow-circle-left" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
	</ui:define>
</ui:composition>