<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:adm="http://github.com/adminfaces"
    template="/WEB-INF/templates/template.xhtml">

   <ui:define name="title">
   <h:outputText value="#{msgsAdmin['managePPGs.title.administrators']}" />
</ui:define>

<ui:define name="description">
	<h:outputText value="#{msgsAdmin['managePPGs.title.administrators.description']}" />
</ui:define>

<ui:define name="body" id="bodyAdminstrador">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsAdmin['managePPGs.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the academic. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsAdmin['managePPGs.title.administrators']}" />
			<p:focus />
			
			<!-- Field: coordinators. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="typeAdmin" />
				<ui:param name="label" value="#{msgsAdmin['managePPGs.field.typeAdmin']}" />
				<p:selectOneMenu style="width: 300px;" id="typeAdmin" value="#{managePPGsController.typeAdmin}"> 
				    <f:selectItem itemLabel="" itemValue="all"/>
                    <f:selectItem itemLabel="Coordinator" itemValue="coordinator"/>
                    <f:selectItem itemLabel="Secretary" itemValue="secretary"/>
				</p:selectOneMenu> 
			</ui:decorate>
			
			<!-- Field: coordinators. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="coordinators" />
				<ui:param name="label" value="#{msgsAdmin['managePPGs.field.coordinators']}" />
				<p:autoComplete style="width: 300px;" id="coordinators" value="#{managePPGsController.selectedAdmin}" completeMethod="#{managePPGsController.completeCoordinators}" var="coordinators" itemLabel="#{coordinators.shortName}" itemValue="#{coordinators}" converter="#{managePPGsController.coordinatorConverter}" forceSelection="true" >
					<p:column>
						<h:outputText value="#{coordinators.name}" />
					</p:column>
					<p:column>
						<h:outputText value="#{coordinators.email}" />
					</p:column>
				</p:autoComplete>
			</ui:decorate>
			<!-- Buttons shown below the form. -->
			<h:panelGroup id="buttonsGroup" >
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{managePPGsController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton action="#{managePPGsController.saveAdministrator}" value="#{msgsAdmin['managePPGs.button.save']}" update=":form :messages :info-messages" icon="fa fa-fw fa-save" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>		
		<h:form id="formTable">
			<h:panelGroup>
				<p:dataTable
					id="entitiesDataTable"
					widgetVar="listingTable"
					value="#{managePPGsController.listAdmins}" 
					var="entity" 
					rowKey="#{entity.id}"
					rows="#{mmanagePPGsController.maxDataTableRowsPerPage}" 
					rowsPerPageTemplate="#{managePPGsController.halfMaxDataTableRowsPerPage},#{managePPGsController.maxDataTableRowsPerPage},#{managePPGsController.doubleMaxDataTableRowsPerPage}"
					lazy="true" 
					paginator="true" 
					paginatorPosition="bottom" 
					emptyMessage="#{msgsAdmin['managePPGs.occupation.noEntities']}">
					
					<p:column headerText="#{msgsAdmin['managePPGs.occupation.name']}">
						<h:outputText value="#{entity.academic.getName()}" />
					</p:column>
					
					<p:column headerText="#{msgsAdmin['managePPGs.occupation.ppg']}">
						<h:outputText value="#{entity.ppg == null ? 'IS NOT ASSOCIATED' :  entity.ppg.acronym}" />
					</p:column>
	
					<p:column style="text-align: center;" headerText="#{msgsAdmin['managePPGs.occupation.coordinator']}">
						<p:commandButton rendered="#{entity.secretary}" action="#{managePPGsController.setAdminType(entity.id, 'coordinator')}" value="#{'NO'}" />
						<p:commandButton rendered="#{entity.coordinator}" action="#{managePPGsController.setAdminType(entity.id, 'secretary')}" value="#{'YES'}" />
					</p:column>
					
					<p:column style="text-align: center;" headerText="#{msgsAdmin['managePPGs.occupation.secretary']}">
						<p:commandButton rendered="#{entity.secretary}" action="#{managePPGsController.setAdminType(entity.id, 'coordinator')}" value="#{'YES'}" />
						<p:commandButton rendered="#{entity.coordinator}" action="#{managePPGsController.setAdminType(entity.id, 'secretary')}" value="#{'NO'}" />
					</p:column>
					
					<p:column style="text-align: center;" headerText="#{msgs['jbutler.crud.button.delete']}">
						<p:commandButton action="#{managePPGsController.trashAdmin(entity.id)}" value="#{msgs['jbutler.crud.button.delete']}" immediate="true" icon="fa fa-trash" update=":formTrash:trashGroup" />
					</p:column>
					<p:ajax event="rowSelect" update=":form:buttonsGroup" />
				</p:dataTable>	
					
			</h:panelGroup>		
						
		
		</h:form>
		<h:form id="formTrash">
			<h:panelGroup id="trashGroup">
				<p:panel id="trashPanel" header="#{msgs['jbutler.crud.text.trashHeader']}" rendered="#{not empty managePPGsController.trashAdmins}" style="margin-top: 20px">
					<p:dataList value="#{managePPGsController.trashAdmins}" var="entity" type="ordered">
		            	#{entity.academic.getName()} (#{entity.secretary ? 'Secretary' : 'Coordinator'})
		            </p:dataList>
					<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
						<p:commandButton action="#{managePPGsController.cancelDeletionAdmin}" value="#{msgs['jbutler.crud.button.cancelDeletion']}" icon="fa fa-fw fa-close" process="@this" update=":formTrash:trashGroup"/>
						<p:commandButton action="#{managePPGsController.deleteAdminPPG}" value="#{msgs['jbutler.crud.button.confirmDeletion']}" icon="fa fa-fw fa-trash-o" process="@this" update=":formTrash :formTable" />
					</ui:decorate>
				</p:panel>
			</h:panelGroup>
		</h:form>
		
	</ui:define>
</ui:composition>