<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsCore['installSystem.title']}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsCore['installSystem.title.description']}" />
	</ui:define>

	<ui:define name="body">
		<!-- Begin the conversation. -->
		<f:metadata>
		    <f:viewAction action="#{installSystemController.begin}"  />
		</f:metadata>

		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsCore['installSystem.title']}" link="index.xhtml"/>
	
		<!-- Shown only if the system is already installed. -->
		<h:panelGroup id="systemInstalled" rendered="#{coreInfo.systemInstalled}">
			<p><h:outputText value="#{msgsCore['installSystem.text.systemAlreadyInstalled']}" /></p>
		</h:panelGroup>
    	
		<!-- Shown when the system is not yet installed. -->
		<h:panelGroup id="systemNotInstalled" rendered="#{not coreInfo.systemInstalled}">
			<p><h:outputText value="#{msgsCore['installSystem.text.instructions.admin']}" /></p>

			<!-- The form to be filled with information on the administrator. -->
			<ui:decorate template="/WEB-INF/templates/form.xhtml">
				<ui:param name="formName" value="form" /> 
				<ui:param name="formLabel" value="#{msgsCore['installSystem.form.admin']}" />
				<p:focus />

				<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
					<ui:param name="fieldName" value="name" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.name']}" />
					<p:inputText id="name" value="#{installSystemController.admin.name}" required="true" pt:placeholder="#{msgsCore['installSystem.field.admin.name.placeholder']}">
						<f:ajax event="blur" render="nameField shortNameField" listener="#{installSystemController.suggestShortName}" />
					</p:inputText>
				</ui:decorate>

				<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
					<ui:param name="fieldName" value="email" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.email']}" />
					<p:inputText id="email" value="#{installSystemController.admin.email}" required="true" pt:placeholder="#{msgsCore['installSystem.field.admin.email.placeholder']}">
						<f:ajax event="blur" render="emailField" />
					</p:inputText>
				</ui:decorate>

				<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
					<ui:param name="fieldName" value="shortName" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.shortName']}" />
					<p:inputText id="shortName" value="#{installSystemController.admin.shortName}" required="true" pt:placeholder="#{msgsCore['installSystem.field.admin.shortName.placeholder']}">
						<f:ajax event="blur" render="shortNameField" />
					</p:inputText>
				</ui:decorate>
				
				<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
					<ui:param name="fieldName" value="cpf" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.cpf']}" />
					<p:inputMask id="cpf" mask="#{msgs['jbutler.format.taxCode.primefaces']}" value="#{installSystemController.admin.cpf}" required="true" pt:placeholder="#{msgsCore['installSystem.field.admin.cpf.placeholder']}">
						<f:ajax event="blur" render="cpfField" />
					</p:inputMask>
				</ui:decorate>

				<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
					<ui:param name="fieldName" value="password" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.password']}" />
					<p:password id="password" minLength="6" value="#{installSystemController.admin.password}" required="true" feedback="true" promptLabel="#{msgs['primefaces.password.prompt']}" weakLabel="#{msgs['primefaces.password.weak']}" goodLabel="#{msgs['primefaces.password.good']}" strongLabel="#{msgs['primefaces.password.strong']}" />
				</ui:decorate>

				<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
					<ui:param name="fieldName" value="repeatPassword" />
					<ui:param name="label" value="#{msgsCore['installSystem.field.admin.repeatPassword']}" />
					<p:password id="repeatPassword" value="#{installSystemController.repeatPassword}" required="true" feedback="false">
						<f:ajax event="blur" render=":messages" listener="#{installSystemController.ajaxCheckPasswords}" execute="password repeatPassword" />
					</p:password>
				</ui:decorate>

				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton action="#{installSystemController.registerAdministrator}" value="#{msgsCore['installSystem.button.registerAdministrator']}" update=":messages form" icon="fa fa-fw fa-save" />
				</ui:decorate>
			</ui:decorate>
		</h:panelGroup>
	</ui:define>
</ui:composition>