<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:adm="http://github.com/adminfaces"
    template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">
	<h:outputText value="#{msgsResearch['manageRules.title']}" />
</ui:define>

<ui:define name="description">
	<h:outputText value="#{msgsResearch['manageRules.title.description']}" />
</ui:define>

<ui:define name="body">
	<adm:breadcrumb link="/core/manageRules/index" title="#{msgsResearch['manageRules.title']}" />
	<h:form id="listingForm">
		<p:dataTable id="entitiesDataTable" var="entity" value="#{manageRulesController.lazyEntities}"
			selection="#{manageRulesController.selectedEntity}" selectionMode="single" paginator="true"
			rows="#{manageRulesController.maxDataTableRowsPerPage}"
			paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
			rowsPerPageTemplate="#{manageRulesController.halfMaxDataTableRowsPerPage},#{manageRulesController.maxDataTableRowsPerPage},#{manageRulesController.doubleMaxDataTableRowsPerPage}"
			lazy="true" paginatorPosition="bottom" emptyMessage="#{msgsResearch['manageRules.text.noEntities']}">
			<p:ajax event="rowSelect" update="buttonsGroup" />
			<p:ajax event="rowUnselect" update="buttonsGroup" />
			<f:facet name="header">
				<h:outputText value="#{msgsResearch['manageRules.text.entities']}" />
			</f:facet>
			<p:column headerText="#{msgsResearch['manageRules.field.type']}">
				<h:outputText value="#{entity.doctoral ? 'Doctoral' : 'Master'}" />
			</p:column>
			<p:column headerText="#{msgsResearch['manageRules.field.qtdPassYears']}">
				<h:outputText value="#{entity.qtdPassYears}" />
			</p:column>
			<p:column headerText="#{msgsResearch['manageRules.field.total']}">
				<h:outputText value="#{entity.total}" />
			</p:column>			
			<p:column headerText="#{msgsResearch['manageRules.field.scoreJournal']}">
				<h:outputText value="#{entity.scoreJournal}" />
			</p:column>
			<p:column headerText="#{msgsResearch['manageRules.field.scoreRestricted']}">
				<h:outputText value="#{entity.scoreRestricted}" />
			</p:column>
			<p:column headerText="#{msgsResearch['manageRules.field.scoreJournalRestricted']}">
				<h:outputText value="#{entity.scoreJournalRestricted}" />
			</p:column>
			<p:column headerText="#{msgsResearch['manageRules.field.dtStart']}">
				<h:outputText value="#{entity.dtStart}">
					<f:convertDateTime type="date" pattern="#{msgs['jbutler.format.date.java']}" />
				</h:outputText>
			</p:column>
			<p:column headerText="#{msgsResearch['manageRules.field.dtEnd']}">
				<h:outputText value="#{entity.dtEnd}">
					<f:convertDateTime type="date" pattern="#{msgs['jbutler.format.date.java']}" />
				</h:outputText>
			</p:column>
			<f:facet name="footer">
				<h:panelGroup id="buttonsGroup">
					<p:commandButton action="#{manageRulesController.create}" icon="fa fa-plus" value="#{msgs['jbutler.crud.button.create']}" />
					<p:commandButton action="#{manageRulesController.retrieve}" icon="fa fa-search" value="#{msgs['jbutler.crud.button.retrieve']}"
						disabled="#{manageRulesController.selectedEntity == null}" />
					<p:commandButton action="#{manageRulesController.update}" icon="fa fa-edit" value="#{msgs['jbutler.crud.button.update']}"
						disabled="#{manageRulesController.selectedEntity == null}" />
					<p:commandButton action="#{manageRulesController.trash}" icon="fa fa-trash" value="#{msgs['jbutler.crud.button.delete']}"
						disabled="#{manageRulesController.selectedEntity == null}" update=":listingForm:trashGroup" />
				</h:panelGroup>
			</f:facet>
		</p:dataTable>
		<h:panelGroup id="trashGroup">
			<hr />
			<p:panel id="trashPanel" header="#{msgs['jbutler.crud.text.trashHeader']}" toggleable="true" toggleSpeed="500"
				rendered="#{not empty manageRulesController.trashCan}">
				<p:dataTable id="trashDataTable" var="entity" value="#{manageRulesController.trashCan}">
					<p:column headerText="#{msgsResearch['manageRules.field.type']}">
						<h:outputText value="#{entity.doctoral ? 'Doctoral' : 'Master'}" />
					</p:column>
					<p:column headerText="#{msgsResearch['manageRules.field.total']}">
						<h:outputText value="#{entity.total}" />
					</p:column>
					<p:column headerText="#{msgsResearch['manageRules.field.dtStart']}">
						<h:outputText value="#{entity.dtStart}">
							<f:convertDateTime type="date" pattern="#{msgs['jbutler.format.date.java']}" />
						</h:outputText>
					</p:column>
					<p:column headerText="#{msgsResearch['manageRules.field.dtEnd']}">
						<h:outputText value="#{entity.dtEnd}">
							<f:convertDateTime type="date" pattern="#{msgs['jbutler.format.date.java']}" />
						</h:outputText>
					</p:column>
					<f:facet name="footer">
						<p:commandButton action="#{manageRulesController.cancelDeletion}" value="#{msgs['jbutler.crud.button.cancelDeletion']}"
							icon="fa fa-fw fa-close" process="@this" update=":listingForm" />
						<p:commandButton action="#{manageRulesController.delete}" value="#{msgs['jbutler.crud.button.confirmDeletion']}"
							icon="fa fa-fw fa-trash-o" process="@this" update=":listingForm" />
					</f:facet>
				</p:dataTable>
			</p:panel>
		</h:panelGroup>
	</h:form>
</ui:define>

</ui:composition>