<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces" rendered="#{sessionController.isAdmin}">

	<!-- TODO: show menus depending on user authorization (role-based access control). -->
	<li class="header"><h:outputText value="#{msgsAdmin['menu.admin']}" /></li>
	
	<!-- Manage Academics -->
	<li><p:link outcome="/admin/manageAcademics/index">
		<i class="fa fa-chalkboard-teacher"></i>
		<span><h:outputText value="#{msgsAdmin['menu.admin.manageAcademics']}" /></span>
	</p:link></li>
	
	<!-- Manage Ppgs -->
	<li><p:link outcome="/admin/managePPGs/index">
		<i class="fa fa-chalkboard-teacher"></i>
		<span><h:outputText value="#{msgsAdmin['menu.admin.managePPGs']}" /></span>
	</p:link></li>

</ui:composition>