<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:adm="http://github.com/adminfaces">

	<!-- TODO: show menus depending on user authorization (role-based access control). -->
	<li class="header"><h:outputText value="#{msgsResearch['menu.research']}" /></li>
	
	<!-- Upload Lattes CV -->
	<li><p:link outcome="/research/uploadLattesCV/index">
		<i class="fa fa-upload"></i>
		<span><h:outputText value="#{msgsResearch['menu.research.uploadLattesCV']}" /></span>
	</p:link></li>
	
	<!-- Generate Bibliography -->
	<li><p:link outcome="/research/generateBibliography/index">
		<i class="fa fa-book"></i>
		<span><h:outputText value="#{msgsResearch['menu.research.generateBibliography']}" /></span>
	</p:link></li>
	
	<!-- Manage Venue -->
	<li><p:link outcome="/research/manageVenues/index">
		<i class="fa fa-upload"></i>
		<span><h:outputText value="#{msgsResearch['menu.research.manageVenues']}" /></span>
	</p:link></li>
	
	<!-- Manage Qualis -->
	<li><p:link outcome="/research/manageQualis/index">
		<i class="fa fa-chalkboard-teacher"></i>
		<span><h:outputText value="#{msgsResearch['menu.research.manageQualis']}" /></span>
	</p:link></li>
	
	<!-- Manage Rules -->
	<li><p:link outcome="/research/manageRules/index">
		<i class="fa fa-chalkboard-teacher"></i>
		<span><h:outputText value="#{msgsResearch['menu.research.manageRules']}" /></span>
	</p:link></li>
	
	<!-- Score -->
	<li><p:link outcome="/research/calculateScores/index">
		<i class="fa fa-gears"></i>
		<span><h:outputText value="#{msgsResearch['menu.research.calculateScores']}" /></span>
	</p:link></li>

</ui:composition>