<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:adm="http://github.com/adminfaces"
    template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">
		<h:outputText value="#{msgsResearch['calculateScores.title']}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsResearch['calculateScores.title.description']}" />
	</ui:define>

	<ui:define name="body">
		<adm:breadcrumb link="/core/calculateScores/index" title="#{msgsResearch['calculateScores.title']}" />
		
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsResearch['calculateScores.form.title']}" />
			<p:focus />
			
			<p:panelGrid id="panelAddAcademic" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid" styleClass="ui-fluid"> 
				<p:panelGrid id="typeField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="type" value="#{msgsResearch['calculateScores.field.type']}"	/>
					<h:panelGroup>
						<p:selectOneMenu  id="type" value="#{calculateScoresController.type}">
		                    <f:selectItem itemLabel="Master" itemValue="master"/>
		                    <f:selectItem itemLabel="Doctoral" itemValue="doctoral"/>
						</p:selectOneMenu> 
					</h:panelGroup>
				</p:panelGrid>
				<p:panelGrid id="academicField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="academic" value="#{msgsResearch['calculateScores.field.academic']}"	/>
					<h:panelGroup>
						<p:autoComplete id="academic" value="#{calculateScoresController.selectedAcademic}" completeMethod="#{calculateScoresController.completeAcademics}" var="academics" itemLabel="#{academics.shortName}" itemValue="#{academics}" converter="#{calculateScoresController.academicConverter}" forceSelection="true" >
							<p:column>
								<h:outputText value="#{academics.name}" />
							</p:column>
							<p:column>
								<h:outputText value="#{academics.email}" />
							</p:column>
						</p:autoComplete>
					</h:panelGroup>
				</p:panelGrid>
			</p:panelGrid>
			
			<h:panelGroup id="buttonsFormGroup" >
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton action="#{calculateScoresController.addAcademic}" value="#{msgsAdmin['managePPGs.button.save']}" icon="fa fa-fw fa-save" update=":listingForm" />
				</ui:decorate>
			</h:panelGroup>
			
		</ui:decorate>
		
		<h:form id="listingForm">
			<h:panelGroup>
				<p:dataTable
					id="entitiesDataTable"
					widgetVar="listingTable"
					value="#{calculateScoresController.academics}" 
					var="entity" 
					rowKey="#{entity.id}"
					rows="#{calculateScoresController.maxDataTableRowsPerPage}" 
					rowsPerPageTemplate="#{calculateScoresController.halfMaxDataTableRowsPerPage},#{calculateScoresController.maxDataTableRowsPerPage},#{calculateScoresController.doubleMaxDataTableRowsPerPage}"
					lazy="true" 
					selection="#{calculateScoresController.selectedEntity}" 
					selectionMode="single"
					paginator="true" 
					loadingMessage="#{msgs['jbutler.text.ajax.loading']}" 
					paginatorPosition="bottom" 
					emptyMessage="#{msgsResearch['calculateScores.occupation.noEntities']}">
					
					<p:column headerText="#{msgsResearch['calculateScores.occupation.name']}">
						<h:outputText value="#{entity.academic.getName()}" />
					</p:column>
					<p:column headerText="#{msgsResearch['calculateScores.occupation.master']}">
						<h:outputText value="#{(!entity.isDoctoral_supervisor() and entity.isMember()) ? 'YES' : 'NO'}" />
					</p:column>
					<p:column headerText="#{msgsResearch['calculateScores.occupation.doctoral']}">
						<h:outputText value="#{entity.isDoctoral_supervisor() ? 'YES' : 'NO'}" />
					</p:column>
					
					<f:facet name="footer">
						<h:panelGroup id="buttonsListingFormGroup">
							<p:commandButton action="#{calculateScoresController.calculate}" icon="fa fa-gears" value="#{msgsResearch['calculateScores.button.calculate']}" />
							<p:commandButton action="#{calculateScoresController.trash}" icon="fa fa-trash" value="#{msgs['jbutler.crud.button.delete']}"
								disabled="#{calculateScoresController.selectedEntity == null}" />
						</h:panelGroup>
					</f:facet>
				</p:dataTable>
			</h:panelGroup>		
		</h:form>	
		
	</ui:define>

</ui:composition>