<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:adm="http://github.com/adminfaces"
    template="/WEB-INF/templates/template.xhtml">

    <ui:define name="title">
		<h:outputText value="#{msgsResearch['calculateScores.result.title']}" />
	</ui:define>

	<ui:define name="description">
		<h:outputText value="#{msgsResearch['calculateScores.result.description']}" />
	</ui:define>

	<ui:define name="body">
		<adm:breadcrumb link="/core/calculateScores/index" title="#{msgsResearch['calculateScores.title']}" />
		<h:form id="listingForm">
			<p:dataTable id="entitiesDataTable" var="entity" value="#{calculateScoresController.scores}"
				 paginator="true"
				 rows="#{calculateScoresController.maxDataTableRowsPerPage}"
				 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				 rowsPerPageTemplate="#{calculateScoresController.halfMaxDataTableRowsPerPage},#{calculateScoresController.maxDataTableRowsPerPage},#{calculateScoresController.doubleMaxDataTableRowsPerPage}"
				 lazy="true" paginatorPosition="bottom" emptyMessage="#{msgsResearch['calculateScoresController.text.noEntities']}">
				<f:facet name="header">
					<h:outputText value="#{msgsResearch['calculateScores.text.resultScore']}" />
				</f:facet>
				<p:column headerText="#{msgsResearch['calculateScores.occupation.name']}">
					<h:outputText value="#{entity.name}" />
				</p:column>
				<p:column headerText="#{msgsResearch['calculateScores.result.Journal']}">
					<h:outputText value="#{entity.scoreJournal}" />
				</p:column>
				<p:column headerText="#{msgsResearch['calculateScores.result.Restricted']}">
					<h:outputText value="#{entity.scoreRestricted}" />
				</p:column>
				<p:column headerText="#{msgsResearch['calculateScores.result.JournalRestricted']}">
					<h:outputText value="#{entity.scoreJournalRestricted}" />
				</p:column>
				<p:column headerText="#{msgsResearch['calculateScores.result.total']}">
					<h:outputText value="#{entity.total}" />
				</p:column>
				<p:column headerText="#{msgsResearch['calculateScores.result.rule.Doctoral']}">
					<h:outputText value="#{entity.type == 'Doctoral' ? (entity.aproved ? 'YES' : 'NO') : 'NOT APPLIED'}" />
				</p:column>
				<p:column headerText="#{msgsResearch['calculateScores.result.rule.Master']}">
					<h:outputText value="#{entity.type == 'Master' ? (entity.aproved ? 'YES' : 'NO') : 'NOT APPLIED'}" />
				</p:column>
				<f:facet name="footer">
					<h:panelGroup id="buttonsGroup">
						<p:commandButton action="#{calculateScoresController.restart}" icon="fa fa-plus" value="#{msgsResearch['calculateScores.button.restart']}" />
					</h:panelGroup>
				</f:facet>
			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>