<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="title">
		<h:outputText value="#{msgsResearch['manageVenues.form.title']}" />
	</ui:define>
    
    <ui:define name="description">
    	<h:outputText value="#{msgsResearch['manageVenues.form.description']}" />
    </ui:define>

  	<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsResearch['manageVenues.form.title']}" link="index.xhtml"/>

		<!-- Instructions on how to get the file to upload. -->
		<p><h:outputText value="#{msgsResearch['manageVenues.form.instructions.upload']}" /></p>

		<!-- The form to be filled in with the file to upload. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsResearch['manageVenues.form.upload']}" />
			<ui:param name="formFileUpload" value="true" /> 
			<p:focus />
			
			<p:panelGrid id="panelVenueValidity" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid" styleClass="ui-fluid"> 
				<p:panelGrid id="dtStartField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="dtStart" value="#{msgsResearch['manageVenues.field.dtStart']}"	/>
					<h:panelGroup>
						<p:calendar id="dtStart" value="#{manageVenuesController.dtStart}" showOn="button"
						pattern="dd/MM/yyyy" mask="true"/>
					</h:panelGroup>
				</p:panelGrid>
				<p:panelGrid id="dtEndField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="dtEnd" value="#{msgsResearch['manageVenues.field.dtEnd']}"	/>
					<h:panelGroup>
						<p:calendar id="dtEnd" value="#{manageVenuesController.dtEnd}" showOn="button"
						pattern="dd/MM/yyyy" mask="true"/>
					</h:panelGroup>
				</p:panelGrid>
			</p:panelGrid>
			
			<!-- File chooser field. -->
			<ui:decorate template="/WEB-INF/templates/formfield.xhtml">
				<ui:param name="fieldName" value="file" />
				<ui:param name="label" value="#{msgsResearch['manageVenues.form.file']}" />
				<p:fileUpload id="file" value="#{manageVenuesController.file}" mode="simple" skinSimple="true" required="true" label="#{msgs['button.fileUpload']}" />
			</ui:decorate>

			<!-- Upload button. -->
			<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
				<p:commandButton ajax="false" action="#{manageVenuesController.upload}" value="#{msgsResearch['manageVenues.button.upload']}" icon="fa fa-fw fa-upload" />
				<p:commandButton value="#{msgs['jbutler.crud.button.back']}" icon="fa fa-arrow-circle-left"
				action="#{manageVenuesController.list}" immediate="true" />
			</ui:decorate>
		</ui:decorate>
	</ui:define>
</ui:composition>

	
