<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:adm="http://github.com/adminfaces"
	template="/WEB-INF/templates/template.xhtml">


	<ui:define name="title">
		<h:outputText value="#{msgsResearch['manageVenues.title']}" />
	</ui:define>
    
    <ui:define name="description">
    	<h:outputText value="#{msgsResearch['manageVenues.description']}" />
    </ui:define>

  	<ui:define name="body">
  		<adm:breadcrumb link="/research/manageVenues/index" title="#{msgsResearch['manageVenues.title']}" />
  		<h:form id="listingForm">
			<h:panelGroup>
				<p><h:outputText value="#{msgsResearch['manageVenues.instructions']}" /></p>
				<p:dataTable
					widgetVar="listingTable"
					value="#{manageVenuesController.lazyEntities}" 
					var="entity" 
					rows="#{manageVenuesController.maxDataTableRowsPerPage}" 
					rowsPerPageTemplate="#{manageVenuesController.halfMaxDataTableRowsPerPage},#{manageVenuesController.maxDataTableRowsPerPage},#{manageVenuesController.doubleMaxDataTableRowsPerPage}"
					lazy="true" 
					paginator="true" 
					selectionMode="single" 
					paginatorPosition="bottom" 
					selection="#{manageVenuesController.selectedEntity}" 
					emptyMessage="#{msgsResearch['manageVenues.text.noEntities']}">
					<p:ajax event="rowSelect" update="buttonsGroup" />
					<p:ajax event="rowUnselect" update="buttonsGroup" />
					
					<p:column headerText="#{msgsResearch['manageVenues.type']}">
						<h:outputText value="#{entity.category.getName()}" />
					</p:column>
					
					<p:column headerText="#{msgsResearch['manageVenues.name']}">
						<h:outputText value="#{entity.name}" />
					</p:column>
					
					<p:column headerText="#{msgsResearch['manageVenues.acronym']}">
						<h:outputText value="#{entity.acronym}" />
					</p:column>
	
					<p:column headerText="#{msgsResearch['manageVenues.issn']}">
						<h:outputText value="#{entity.issn}" />
					</p:column>
					<f:facet name="footer">
						<h:panelGroup id="buttonsGroup">
							<p:commandButton action="#{manageVenuesController.create}" value="#{msgsResearch['manageVenues.button.upload']}" icon="fa fa-fw fa-plus" />
							<p:commandButton action="#{manageVenuesController.UpdateVenue}" icon="fa fa-edit" value="#{msgs['jbutler.crud.button.update']}"
								disabled="#{manageVenuesController.selectedEntity == null}" />
							<p:commandButton action="#{manageVenuesController.trash}" icon="fa fa-trash" value="#{msgs['jbutler.crud.button.delete']}"
								disabled="#{manageVenuesController.selectedEntity == null}" />
						</h:panelGroup>
					</f:facet>
				</p:dataTable>		
			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>