<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:adm="http://github.com/adminfaces"
    template="/WEB-INF/templates/template.xhtml">

   <ui:define name="title">
   <h:outputText value="#{msgsResearch['manageQualis.title.create']}" />
</ui:define>

<ui:define name="description">
	<h:outputText value="#{msgsResearch['manageQualis.title.create.description']}" />
</ui:define>

<ui:define name="body">
		<!-- The breadcrumb. -->
		<adm:breadcrumb title="#{msgsResearch['manageQualis.title']}" link="index.xhtml" />
	
		<!-- The form to be filled with information on the academic. -->
		<ui:decorate template="/WEB-INF/templates/form.xhtml">
			<ui:param name="formName" value="form" /> 
			<ui:param name="formLabel" value="#{msgsResearch['manageQualis.form.title']}" />
			<p:focus />
			
			<p:panelGrid id="panelQualitityValidity" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid" styleClass="ui-fluid"> 
				<p:panelGrid id="dtStartField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="dtStart" value="#{msgsResearch['manageQualis.field.dtValidityStart']}"	/>
					<h:panelGroup>
						<p:calendar id="dtStart" value="#{manageQualisController.newQualisValidity.dtStart}" showOn="button"
						pattern="dd/MM/yyyy" mask="true"/>
					</h:panelGroup>
				</p:panelGrid>
				<p:panelGrid id="dtEndField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="dtEnd" value="#{msgsResearch['manageQualis.field.dtValidityEnd']}"	/>
					<h:panelGroup>
						<p:calendar id="dtEnd" value="#{manageQualisController.newQualisValidity.dtEnd}" showOn="button"
						pattern="dd/MM/yyyy" mask="true"/>
					</h:panelGroup>
				</p:panelGrid>
			</p:panelGrid>
			
			<p:panelGrid id="panelFormQuality" columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid" styleClass="ui-fluid">
				<p:panelGrid id="nameField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="name" value="#{msgsResearch['manageQualis.field.name']}"	/>
					<h:panelGroup>
						<p:inputText id="name" value="#{manageQualisController.newQualis.name}" required="true" ></p:inputText>				
					</h:panelGroup>
				</p:panelGrid>
				<p:panelGrid id="restritoField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="restrito" value="#{msgsResearch['manageQualis.field.restrito']}"	/>
					<h:panelGroup>
						<p:selectBooleanCheckbox id="restrito" value="#{manageQualisController.newQualis.restrito}"></p:selectBooleanCheckbox>
					</h:panelGroup>
				</p:panelGrid>
				<p:panelGrid id="scoreConferenceField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="scoreConference" value="#{msgsResearch['manageQualis.field.scoreConference']}"	/>
					<h:panelGroup>
						<p:inputText id="scoreConference" value="#{manageQualisController.newQualis.scoreConference}" required="true" ></p:inputText>
					</h:panelGroup>
				</p:panelGrid>
				<p:panelGrid id="scoreJournalField" columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-fluid">
					<p:outputLabel for="scoreJournal" value="#{msgsResearch['manageQualis.field.scoreJournal']}"	/>
					<h:panelGroup>
						<p:inputText id="scoreJournal" value="#{manageQualisController.newQualis.scoreJournal}" required="true" ></p:inputText>
					</h:panelGroup>
				</p:panelGrid>
			</p:panelGrid>
			
			<!-- Buttons shown below the form. -->
			<h:panelGroup id="buttonsGroup" >
				<ui:decorate template="/WEB-INF/templates/formbuttonpanel.xhtml">
					<p:commandButton id="cancelButton" action="#{manageQualisController.list}" value="#{msgs['jbutler.crud.button.back']}" immediate="true" icon="fa fa-fw fa-close" />
					<p:commandButton action="#{manageQualisController.saveQuality}" value="#{msgsAdmin['managePPGs.button.save']}" update=":form :formTable" icon="fa fa-fw fa-save" />
				</ui:decorate>
			</h:panelGroup>
		</ui:decorate>	
		
		<h:form id="formTable">
			<h:panelGroup>
				<p:dataTable
					id="entitiesDataTable"
					widgetVar="listingTable"
					value="#{manageQualisController.qualis}" 
					var="entity" 
					rowKey="#{entity.id}"
					rows="#{manageQualisController.maxDataTableRowsPerPage}" 
					rowsPerPageTemplate="#{manageQualisController.halfMaxDataTableRowsPerPage},#{manageQualisController.maxDataTableRowsPerPage},#{manageQualisController.doubleMaxDataTableRowsPerPage}"
					lazy="true" 
					paginator="true" 
					paginatorPosition="bottom" 
					emptyMessage="#{msgsResearch['manageQualis.text.noEntities']}">
					
					<p:column headerText="#{msgsResearch['manageQualis.field.name']}">
						<h:outputText value="#{entity.name}" />
					</p:column>
					
					<p:column headerText="#{msgsResearch['manageQualis.field.restrito']}">
						<h:outputText value="#{entity.restrito ? 'YES' :  'NO'}" />
					</p:column>
	
					<p:column headerText="#{msgsResearch['manageQualis.field.scoreConference']}">
						<h:outputText value="#{entity.scoreConference}" />
					</p:column>
					
					<p:column headerText="#{msgsResearch['manageQualis.field.scoreJournal']}">
						<h:outputText value="#{entity.scoreJournal}" />
					</p:column>
					
					<p:column style="text-align: center;" headerText="#{msgs['jbutler.crud.button.delete']}">
						<p:commandButton action="#{manageQualis.trash}" value="#{msgs['jbutler.crud.button.delete']}" immediate="true" icon="fa fa-trash" />
					</p:column>
				</p:dataTable>	
			</h:panelGroup>
		</h:form>
		
	</ui:define>
</ui:composition>